
bin/
obj/
out/
build/
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.dll


.vs/
*.user
*.sln.doccas
*.suo
.vscode/
.idea/
*.swp
*.swo


Debug/
Release/
x64/
x86/
*.log
*.tlog
*.lastbuildstate
*.recipe


.DS_Store
Thumbs.db